$font-size-Base:16px;
.text_XXXL{font-size:$font-size-Base*2.5   ;}//40px
.text_XXL {font-size:$font-size-Base*2     ;}//36px
.text_XL  {font-size:$font-size-Base*1.5   ;}//24px
.text_L   {font-size:$font-size-Base*1.25  ;}//20px
.text_M   {font-size:$font-size-Base*1.125 ;}//18px
.text_S   {font-size:$font-size-Base       ;}//16px
.text_SM  {font-size: $font-size-Base*0.875;}//14px
